
body* {
	font-family: 'Nanum Myeongjo', serif;
}

.mytitle {
  color: white;
  text-align: center;
  background-image: url('http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
  text-align: center;
  }
     
.mytitle > h1{
  margin: 0 0 5px 0;
}
.mytitle > h5 {
  margin: 5px 0 0 0;
}

.wrap {
  width: 600px;
  margin: 50px auto 0 auto;
}

